#seo_select{
    margin: 100px auto 50px auto;
    padding: 10px;
    width: 200px;
    height: 250px;
    border: 1px solid #CCCCCC;
    overflow-y: auto;
    -webkit-box-shadow:  2px 2px 3px rgba(0,0,0,0.5); 
    font-family: 'PT Sans', sans-serif;
}

#seo_select::-webkit-scrollbar {
    width: 8px;    
}

#seo_select::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.6); 
    border-radius: 6px;
   
}

#seo_select::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
    
}
​


#selects{
    display: block;
    margin-top: 10px;
}

#selects a{
    display: block;
    clear: both;
    padding-left: 10px;
    text-decoration: none;
    line-height: 1.4em;
    color: black;
}

#selects a.title{
    font-weight: bold;
}

#selects a.selected{
    background: blue;
    color: white;
}

.number{
    color: grey;
    font-size: 0.8em;
}

#view_app{
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;    
}

#view_app input{
    width: 195px;
    margin-bottom: 5px;
    font-size: 14pt;
    height: 18pt;
}

.buttons{
    text-align: center;
}

#view_app button{
    display: inline-block;
    margin: 5px 5px;
}

.add{
    background-color: limegreen;
    color: white; 
    border: 1px limegreen solid;
}

.remove{
    background-color: darkred;
    color: white;
    border: 1px darkred solid;
}

#examples{
    width: 200px;
    margin: 20px auto;
    font-size: 0.7em;
    color: #AAAAAA;
}