*{
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
    box-sizing: border-box;
}

h1{
    font-size: 18pt;
    margin-top: 20px;    
}

ul{
    list-style-type: none;
}

[type="checkbox"]{
    display: none;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

.head{
    height: 75px;
    width: 100%;
    padding: 10px 10px;
}

.logo{
    width: 15%;
    height: 75px;
    margin: 10px 0;
    background: url('../img/moelia-logo.jpg') no-repeat 10px 0;
    float: left;
}

nav{
    height: 75px;
    float: right;
}

@media only screen and (min-width: 768px){
    nav{
        line-height: 95px;
    }
}

@media only screen and (max-width: 767px){
    nav{
        line-height: 35px;
    }
}

.nav > ul{    
    width: 100%;
    padding: 10px 0;
}

nav > ul > li{
    float: left;
    margin: 0 40px;
}

@media screen and (max-width: 768px) {
    
    #logo{
        width: 115px;
    }
    
    nav ul{
	display: none;
    }

    
    label.menu_label{
  	display: block;
  	background: #FFF;
	width: 40px;
  	height: 40px;
  	cursor: pointer;
	position: absolute;
	right: 20px;
  	top: 30px;
    }
  
    label.menu_label:after{
        content:'';
        display: block;
        width: 30px;
        height: 5px;
        background: #777;
        margin: 7px 5px;
        box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
    }

    [type="checkbox"]:checked ~ ul {
  	display: block;
  	z-index: 9999;
  	position: absolute;
        right: 0;
        top: 70px;
    }

    nav a {
        color: #777;
    }

    nav ul li {
        display: block;
        border: 1px solid rgba(180, 180, 180, 1);
  	float: none;
  	width: 85%;
  	text-align: left;
  	background: #FAFAFA;
        text-indent: 20px;
    }

    nav > ul > li {
  	margin-left: 0px;
    }
}

#slider{
    position: relative;
}

input[name='element']{
    display: none;
}

#dots{
    display: block;
    position: absolute;
    top: 94%;
    left: 45%;
    height: 20px;
}

#slider_elements{
    width: 300%;    
}

#slider_container{
    margin: 0 auto;    
    overflow: hidden;
    text-align: left;
    width: 100%;
}

.slider_element > img{
    width: 100%;
}

.slider_element{
    display: block;
    float: left;
    width: 33.333%;
    padding: 0 10px;
}

#element1:checked ~ #slider_container #slider_elements {
    margin-left: 0;
}

#element2:checked ~ #slider_container #slider_elements {
    margin-left: -100%;
}

#element3:checked ~ #slider_container #slider_elements {
    margin-left: -200%;
}

iframe{
    width: 100%;
    background-color: black;
}

#dots .nav_dots{
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

#slider_elements {
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.articles{
    width: 100%; 
    display: block;
    float: left;
    padding: 0 10px;
}


@media only screen and (max-width: 767px){
    .articles{
        margin: 0 30px 10px 0;
    }
}

.articles > article{
    float: left;    
}

@media only screen and (min-width: 768px){
    
    .left{
        padding-right: 10px;
    }

    .right{
        padding-left: 10px;
    }

    .center{
        padding: 0 5px 0 5px;
    }

    
    .articles > article{
        width: 33.333%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px){
    .articles > article{
        width: 100%;
    }
}

.img{
    width: 100%;     
}

.img > img{
    width: 100%;
    padding: 25px 10px;
}

@media only screen and (min-width: 768px){
    .img > img{
        padding: 25px 0 0 0;
    }
}

@media only screen and (max-width: 767px){
    .img > img{
        padding: 25px 0 0 0;
    }
}

.img > figcaption{
    font-size: 11pt;
    color: darkgrey;    
    text-align: right;
    width: 100%;    
}

article > p{    
    text-align: justify;
    font-size: 12pt;
    line-height: 16pt;
    margin: 25px 0 0 0;
}

.footer{
    display: block;
    float: left;
    width: 100%;
    margin-top: 30px;
    background-color: black;
    color: white;
    position: relative;
    bottom: 0;
}

.copy{
    display: block;
    float: left; 
    line-height: 45px;
}

@media only screen and (max-width: 767px){
    .copy{
        text-align: center;
        width: 100%;        
    }
}

.footer_menu > ul{
    margin-left: 40px;
    padding: 10px;
    display: block;
    float: left;
    line-height: 24px;
}

.footer_menu > ul > li{
    float: left;
    margin: 0 20px;
    text-decoration: underline;
}
